---
layout: default
---

<h1>{{ site.title }}</h1>
<p>{{ site.description }}</p>

<h2>Custom Lists</h2>
<ul>
  {% for list in site.custom_lists %}
    <li>
      <a href="{{ list.url | relative_url }}">{{ list.title }}</a><br>
      {{ list.meta_description }}
    </li>
  {% endfor %}
</ul>




<h2>VC Firms</h2>
<ul>
  {% for firm in site.vc_firms %}
    <li>
      <a href="{{ firm.url | relative_url }}">{{ firm.title }}</a><br>
      Offices: {{ firm.offices }}<br>
      Stages: {{ firm.stages }}
    </li>
  {% endfor %}
</ul>




