---
layout: default
title: "VCList.Online"
---

<h2>VC Database</h2>
<p>A database of 1500+ VC firms.</p>
<ul>
  {% for firm in site.data.vc_firms %}
    <li>
      <strong><a href="{{ site.baseurl }}/vc_firms/{{ firm.id | slugify }}" target="_blank">{{ firm.name }}</a></strong><br>
      Offices: {{ firm.offices }}<br>
      Stages: {{ firm.stages }}<br>

      {% if firm.linkedin %}
        <a href="{{ firm.linkedin }}" target="_blank">LinkedIn</a>
      {% else %}
        No LinkedIn
      {% endif %}

      {% if firm.twitter %}
        <a href="{{ firm.twitter }}" target="_blank">Twitter</a>
      {% else %}
        No Twitter
      {% endif %}
    </li>
  {% endfor %}
</ul>
