---
layout: default
---

<h1>{{ site.title }}</h1>
<p>{{ site.description }}</p>

<h2>VC Firms</h2>
<ul>
  {% for firm in site.vc_firms %}
    <li>
      <a href="{{ firm.url | relative_url }}">{{ firm.title }}</a><br>
      Offices: {{ firm.offices }}<br>
      Stages: {{ firm.stages }}
    </li>
  {% endfor %}
</ul>

<h2>Custom Lists</h2>
<ul>
  {% for page in site.pages %}
    {% if page.path contains '_custom_lists' %}
      <li>
        <a href="{{ page.url | relative_url }}">{{ page.title }}</a><br>
        {{ page.meta_description }}
      </li>
    {% endif %}
  {% endfor %}
</ul>
