---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ page.meta_description }}</p>

<ul>
  {% for firm in site.vc_firms %}
    {% assign filter_values = page.filter.value | split: ", " %}
    {% for value in filter_values %}
      {% if firm[page.filter.key] contains value %}
        <li>
          <a href="{{ site.baseurl }}{{ firm.url }}">{{ firm.title }}</a><br>
          Offices: {{ firm.offices }}<br>
          Stages: {{ firm.stages }}
        </li>
        {% break %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

